.chat {
    width: 450px;
    background-color: #35A6FF;
    border-radius: 20px;
    margin: 30px auto;
    padding: 15px;
}

.chat .head {
    display: flex;
}

.chat .head .title {
    width: 50%;
}

.chat .head .btn {
    width: 50%;
}

.chat .head .btn button {
    float: right;
}

.chat .body {
    height: 400px;
    background-color: #ddd;
    padding: 15px;
    overflow: auto;
}

.chat .body .from-bot {
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    float: left;
}

.chat .body .from-bot,
.chat .body .from-user {
    margin-bottom: 10px;
}

.chat .body .from-bot .from,
.chat .body .from-user .from {
    font-size: 12px;
}

.chat .body .from-bot .text,
.chat .body .from-user .text {
    margin: 0;
}

.chat .body .from-user {
    width: 70%;
    background-color: #35A6FF;
    padding: 10px;
    border-radius: 10px;
    float: right;
}

.chat .footer {
    padding-top: 10px;
}

.chat .footer input {
    width: 80%;
    height: 30px;
}

.chat .footer button {
    float: right;
    height: 40px;
}