.login {
    width: 450px;
    background-color: #35A6FF;
    border-radius: 20px;
    margin: 70px auto;
    padding: 15px;
}

.login-text {
    text-align: center;
}

.login-values {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-button {
    text-align: center;
}

.login-button button {
    width: 100px;
}